<a href="https://colab.research.google.com/github/reve-0212/Data-Analysis-with-Open-Source/blob/main/%EC%98%A4%ED%94%88%EC%86%8C%EC%8A%A4_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EB%B6%84%EC%84%9D_6%EA%B0%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 오픈소스 기반 데이터 분석 6강 - 데이터 전처리 1

### 6-1 데이터 훑어보기

In [ ]:
import pandas as pd
from sklearn.cluster import KMeans

data = {'나이':[25, 30, 22, 35, 40, 50, 28, 33, 45, 55],
        '소득':[3000,4000,2800,5000,6000,7000,3200,4500,6200, 7200]}
df = pd.DataFrame(data)

kmeans = KMeans(n_clusters=3, random_state = 42)
df['군집'] = kmeans.fit_predict(df[['나이', '소득']])

print(df)

   나이    소득  군집
0  25  3000   1
1  30  4000   1
2  22  2800   1
3  35  5000   0
4  40  6000   2
5  50  7000   2
6  28  3200   1
7  33  4500   0
8  45  6200   2
9  55  7200   2

In [ ]:
import pandas as pd
import numpy as np

data = {
    'name': ['김민수', '이지영', '박준호', '최서연', '정도윤'],
    'age': [25, 30, 28, 22, 35],
    'city': ['서울', '부산', '인천', '서울', '대전'],
    'score': [90, 85, 95, 80, np.nan]
}
df = pd.DataFrame(data)

# 데이터 측정
print('1. 기본 describe() : ')
print(df.describe())
print()

# 모든 데이터 타입 측정
print('2. 모든 데이터 타입 : ')
print(df.describe(include='all'))
print()

# 수치형 데이터 측정
print('3. 수치형 데이터만 : ')
print(df.describe(include = [np.number]))
print()

# 범주형 데이터 측정
print('4. 범주형 데이터만 : ')
print(df.describe(include = ['object']))
print()

# 모든 데이터 타입 측정
print('5. score 열 분석 : ')
print(df['score'].describe())
print()

#


# 특정 열 분석

1. 기본 describe() :
             age      score
count   5.000000   4.000000
mean   28.000000  87.500000
std     4.949747   6.454972
min    22.000000  80.000000
25%    25.000000  83.750000
50%    28.000000  87.500000
75%    30.000000  91.250000
max    35.000000  95.000000

2. 모든 데이터 타입 :
       name        age city      score
count     5   5.000000    5   4.000000
unique    5        NaN    4        NaN
top     김민수        NaN   서울        NaN
freq      1        NaN    2        NaN
mean    NaN  28.000000  NaN  87.500000
std     NaN   4.949747  NaN   6.454972
min     NaN  22.000000  NaN  80.000000
25%     NaN  25.000000  NaN  83.750000
50%     NaN  28.000000  NaN  87.500000
75%     NaN  30.000000  NaN  91.250000
max     NaN  35.000000  NaN  95.000000

3. 수치형 데이터만 :
             age      score
count   5.000000   4.000000
mean   28.000000  87.500000
std     4.949747   6.454972
min    22.000000  80.000000
25%    25.000000  83.750000
50%    28.000000  87.500000
75%    30.000000  91.250000
max    35.000000  95.000000

4. 범주형 데이터만 :
       name city
count     5    5
unique    5    4
top     김민수   서울
freq      1    2

5. score 열 분석 :
count     4.000000
mean     87.500000
std       6.454972
min      80.000000
25%      83.750000
50%      87.500000
75%      91.250000
max      95.000000
Name: score, dtype: float64

### 6-2 DataFrame 열 선택 및 **조작**

In [ ]:
import pandas as pd

data = {
    "이름": ["김철수", "이영희", "박민수", "최지훈", "정소희"],
    "학년": [1, 2, 3, 4, 2],
    "학점": [4.2, 3.8, 4.5, 3.9, 3.5],
    "학과": ["컴퓨터공학", "경영학", "전자공학", "의학", "심리학"],
    "동아리": ["프로그래밍", "독서토론", "로봇공학", "봉사활동", "음악감상"]
}
df = pd.DataFrame(data)

# 특정 열 선택
selected_cols = df[['이름','학과','학점']]
print('2. 특정 열만 선택 : ')
print(selected_cols)
print()

# DataFrame 열순서 변경
reordered_cols = df[['학과','이름','학년','학점','동아리']]
print('3. 열 순서 변경 : ')
print(reordered_cols)

# DataFrame 열이름 변경
df_renamed = df.rename(columns = {'이름':'학생명', '학점':'평점', '동아리':'과외활동'})
print('4. 열 이름 변경 : ')
print(df_renamed)

2. 특정 열만 선택 :
    이름     학과   학점
0  김철수  컴퓨터공학  4.2
1  이영희    경영학  3.8
2  박민수   전자공학  4.5
3  최지훈     의학  3.9
4  정소희    심리학  3.5

3. 열 순서 변경 :
      학과   이름  학년   학점    동아리
0  컴퓨터공학  김철수   1  4.2  프로그래밍
1    경영학  이영희   2  3.8   독서토론
2   전자공학  박민수   3  4.5   로봇공학
3     의학  최지훈   4  3.9   봉사활동
4    심리학  정소희   2  3.5   음악감상
4. 열 이름 변경 :
   학생명  학년   평점     학과   과외활동
0  김철수   1  4.2  컴퓨터공학  프로그래밍
1  이영희   2  3.8    경영학   독서토론
2  박민수   3  4.5   전자공학   로봇공학
3  최지훈   4  3.9     의학   봉사활동
4  정소희   2  3.5    심리학   음악감상

### 6-3 DataFrame 행 선택

In [ ]:
import pandas as pd

data = {
    "이름": ["김철수", "이영희", "박민수", "최지훈", "정소희"],
    "학년": [1, 2, 3, 4, 2],
    "학점": [4.2, 3.8, 4.5, 3.9, 3.5],
    "학과": ["컴퓨터공학", "경영학", "전자공학", "의학", "심리학"],
    "동아리": ["프로그래밍", "독서토론", "로봇공학", "봉사활동", "음악감상"]
}

df = pd.DataFrame(data, index = data['이름'])
#DataFrame 인덱스 지정
print('df.loc[김철수]------------------------------')
print(df.loc['김철수'])
print()

print('df.loc[김철수:박민수]-----------------------')
print(df.loc['김철수':'박민수'])
print()

#DataFrame 행 선택
print('df.iloc[1]---------------------')
print(df.iloc[1])
print()

print('df.iloc[0:3]--------------------')
print(df.iloc[0:3])
print()

#DataFrame 위치 기반 행 선택
print('df[df[학점]>=4.0]----------------')
print(df[df['학점']>=4.0])
print()

print('df[df[학년]==2]----------------------')
print(df[df['학년']==2])
print()

print('df[(df[학년]==2) & (df[학점]>=3.7)]-----------------------')
print(df[(df['학년']==2) & (df['학점']>=3.7)])


#DataFrame 조건 기반 선택

df.loc[김철수]------------------------------
이름       김철수
학년         1
학점       4.2
학과     컴퓨터공학
동아리    프로그래밍
Name: 김철수, dtype: object

df.loc[김철수:박민수]-----------------------
      이름  학년   학점     학과    동아리
김철수  김철수   1  4.2  컴퓨터공학  프로그래밍
이영희  이영희   2  3.8    경영학   독서토론
박민수  박민수   3  4.5   전자공학   로봇공학

df.iloc[1]---------------------
이름      이영희
학년        2
학점      3.8
학과      경영학
동아리    독서토론
Name: 이영희, dtype: object

df.iloc[0:3]--------------------
      이름  학년   학점     학과    동아리
김철수  김철수   1  4.2  컴퓨터공학  프로그래밍
이영희  이영희   2  3.8    경영학   독서토론
박민수  박민수   3  4.5   전자공학   로봇공학

df[df[학점]>=4.0]----------------
      이름  학년   학점     학과    동아리
김철수  김철수   1  4.2  컴퓨터공학  프로그래밍
박민수  박민수   3  4.5   전자공학   로봇공학

df[df[학년]==2]----------------------
      이름  학년   학점   학과   동아리
이영희  이영희   2  3.8  경영학  독서토론
정소희  정소희   2  3.5  심리학  음악감상

df[(df[학년]==2) & (df[학점]>=3.7)]-----------------------
      이름  학년   학점   학과   동아리
이영희  이영희   2  3.8  경영학  독서토론

### 6-4 DataFrame 정렬

In [ ]:
import pandas as pd

data = {
    "이름": ["김철수", "이영희", "박민수", "최지훈", "정소희"],
    "학년": [1, 2, 3, 4, 2],
    "학점": [4.2, 3.8, 4.5, 3.9, 3.5],
    "학과": ["컴퓨터공학", "경영학", "전자공학", "의학", "심리학"],
    "동아리": ["프로그래밍", "독서토론", "로봇공학", "봉사활동", "음악감상"]
}

#DataFrame 인덱스 지정
df_indexed = pd.DataFrame(data).set_index('이름')

#DataFrame 단일 열 오름차순, 내림차순 정렬
print(df.sort_values(by='학점'))
print()
print(df.sort_values(by='학점', ascending = False))
print()
print(df.sort_values(by = ['학년','학점'], ascending = [True, False]))
print()

#DataFrame 복수 열 오름차순, 내림차순 정렬
print(df_indexed.sort_index())
print()

#DataFrame 인덱스 기분 오른차순, 내림차순 정렬
print(df_indexed.sort_index(ascending = False))
print()

      이름  학년   학점     학과    동아리
정소희  정소희   2  3.5    심리학   음악감상
이영희  이영희   2  3.8    경영학   독서토론
최지훈  최지훈   4  3.9     의학   봉사활동
김철수  김철수   1  4.2  컴퓨터공학  프로그래밍
박민수  박민수   3  4.5   전자공학   로봇공학

      이름  학년   학점     학과    동아리
박민수  박민수   3  4.5   전자공학   로봇공학
김철수  김철수   1  4.2  컴퓨터공학  프로그래밍
최지훈  최지훈   4  3.9     의학   봉사활동
이영희  이영희   2  3.8    경영학   독서토론
정소희  정소희   2  3.5    심리학   음악감상

      이름  학년   학점     학과    동아리
김철수  김철수   1  4.2  컴퓨터공학  프로그래밍
이영희  이영희   2  3.8    경영학   독서토론
정소희  정소희   2  3.5    심리학   음악감상
박민수  박민수   3  4.5   전자공학   로봇공학
최지훈  최지훈   4  3.9     의학   봉사활동

     학년   학점     학과    동아리
이름
김철수   1  4.2  컴퓨터공학  프로그래밍
박민수   3  4.5   전자공학   로봇공학
이영희   2  3.8    경영학   독서토론
정소희   2  3.5    심리학   음악감상
최지훈   4  3.9     의학   봉사활동

     학년   학점     학과    동아리
이름
최지훈   4  3.9     의학   봉사활동
정소희   2  3.5    심리학   음악감상
이영희   2  3.8    경영학   독서토론
박민수   3  4.5   전자공학   로봇공학
김철수   1  4.2  컴퓨터공학  프로그래밍

## 6-5 실습 시나리오 - Kaggle을 활용한 데이터 수집 및 측정

- Kaggle([https://www.kaggle.com](https://www.kaggle.com)) 회원 가입
- Kaggle 접근 토큰 생성(API 키)

### Kaggle API 키 업로드

In [1]:
from google.colab import files
files.upload()

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"jihyunsim0212","key":"f1355fc0d3691a5412d9c8bdc3571972"}'}

### Kaggle API 키 사용을 위한 Colab 환경 설정

In [2]:
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/
!chmod 600 ~/.kaggle/kaggle.json

### Kaggle 데이터셋 다운로드

In [6]:
!kaggle competitions download -c store-sales-time-series-forecasting

!unzip store-sales-time-series-forecasting.zip

Downloading store-sales-time-series-forecasting.zip to /content
  0% 0.00/21.4M [00:00<?, ?B/s]
100% 21.4M/21.4M [00:00<00:00, 1.14GB/s]
Archive:  store-sales-time-series-forecasting.zip
  inflating: holidays_events.csv
  inflating: oil.csv
  inflating: sample_submission.csv
  inflating: stores.csv
  inflating: test.csv
  inflating: train.csv
  inflating: transactions.csv

### Kaggle 데이터셋 DataFrame 로드 및 살펴보기

In [8]:
import pandas as pd

# Grocery Sales 데이터 DataFrame 로드
train = pd.read_csv('train.csv')
stores = pd.read_csv('transactions.csv')
oil = pd.read_csv('oil.csv')
holidays = pd.read_csv('holidays_events.csv')

# 판매 데이터 살펴보기
print('학습 데이터 기본 정보 : ')
display(train.info())

학습 데이터 기본 정보 :
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000888 entries, 0 to 3000887
Data columns (total 6 columns):
 #   Column       Dtype
---  ------       -----
 0   id           int64
 1   date         object
 2   store_nbr    int64
 3   family       object
 4   sales        float64
 5   onpromotion  int64
dtypes: float64(1), int64(3), object(2)
memory usage: 137.4+ MB

None

### Kaggle 데이터셋 측정

In [9]:
# 판매 데이터 기본 통계량
print('판매 데이터의 기본 통계량 : ')
print(train.describe())

# 매장 데이터 기본 정보
print('\n매장 데이터의 기본 정보 : ')
print(stores.head())

# 원유 가격 데이터 기본 정보
print('\n원유 가격 데이터 기본 정보 : ')
print(oil.head())

판매 데이터의 기본 통계량 :
                 id     store_nbr         sales   onpromotion
count  3.000888e+06  3.000888e+06  3.000888e+06  3.000888e+06
mean   1.500444e+06  2.750000e+01  3.577757e+02  2.602770e+00
std    8.662819e+05  1.558579e+01  1.101998e+03  1.221888e+01
min    0.000000e+00  1.000000e+00  0.000000e+00  0.000000e+00
25%    7.502218e+05  1.400000e+01  0.000000e+00  0.000000e+00
50%    1.500444e+06  2.750000e+01  1.100000e+01  0.000000e+00
75%    2.250665e+06  4.100000e+01  1.958473e+02  0.000000e+00
max    3.000887e+06  5.400000e+01  1.247170e+05  7.410000e+02

매장 데이터의 기본 정보 :
         date  store_nbr  transactions
0  2013-01-01         25           770
1  2013-01-02          1          2111
2  2013-01-02          2          2358
3  2013-01-02          3          3487
4  2013-01-02          4          1922

원유 가격 데이터 기본 정보 :
         date  dcoilwtico
0  2013-01-01         NaN
1  2013-01-02       93.14
2  2013-01-03       92.97
3  2013-01-04       93.12
4  2013-01-07       93.20