<a href="https://colab.research.google.com/github/reve-0212/Data-Analysis-with-Open-Source/blob/main/%EC%98%A4%ED%94%88%EC%86%8C%EC%8A%A4_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EB%B6%84%EC%84%9D_5%EA%B0%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 오픈소스 기반 데이터 분석 5강 - 데이터 저장

## 5-1 CSV 형식 저장

In [1]:
import pandas as pd

data = {
    'student_id': [101, 102, 103, 104, 105],
    'database_score': [85, 76, 92, 63, 88],
    'cloudcomputing_score': [78, 82, 95, 70, 84],
    'python_score': [92, 78, 85, 75, 91],
    'watch_rate': [0.95, 0.87, 0.99, 0.80, 0.93]
}
## DataFrame 생성
df = pd.DataFrame(data)

## CSV 형식 저장
df.to_csv('student_analysis.csv', encoding='utf-8', index=False)

## 5-2 JSON 형식 저장

In [2]:
### 라이브러리 임포트
import json
import pandas as pd

data = {
    "이름": "홍길동",
    "나이": 25,
    "거주지": "서울",
    "관심사": ["프로그래밍", "데이터 분석", "여행"]
}

## json.dump를 이용한 저장
with open ('output.json', 'w', encoding='utf-8') as f:
  json.dump(data, f, indent = 4, ensure_ascii=False)

## DataFrame을 이용한 저장
df = pd.DataFrame([data])
df.to_json('output.json', orient='records', indent=4, force_ascii=False)

## 5-3 Pandas Dataframe 데이터 추출

In [8]:
import pandas as pd

data = {
    "이름": ["김철수", "이영희", "박민수", "최지훈", "정소희"],
    "학년": [1, 2, 3, 4, 2],
    "학점": [4.2, 3.8, 4.5, 3.9, 3.5],
    "학과": ["컴퓨터학", "경영학", "농학", "교육학", "영어영문학"],
    "동아리": ["프로그래밍", "독서토론", "로봇공학", "봉사활동", "음악감상"]
}
df = pd.DataFrame([data])

## DataFrame 인덱스 출력
print(f'index: {df.index}')

## DataFrame 컬럼 출력
print(f'columns : {df.columns}')

## DataFrame 행 출력
print(f'values : {df.values.flatten()}')

## DataFrame 값 출력
print(f'rows : {df.values.tolist()}')

index: RangeIndex(start=0, stop=1, step=1)
columns : Index(['이름', '학년', '학점', '학과', '동아리'], dtype='object')
values : [list(['김철수', '이영희', '박민수', '최지훈', '정소희']) list([1, 2, 3, 4, 2])
 list([4.2, 3.8, 4.5, 3.9, 3.5])
 list(['컴퓨터학', '경영학', '농학', '교육학', '영어영문학'])
 list(['프로그래밍', '독서토론', '로봇공학', '봉사활동', '음악감상'])]
rows : [[['김철수', '이영희', '박민수', '최지훈', '정소희'], [1, 2, 3, 4, 2], [4.2, 3.8, 4.5, 3.9, 3.5], ['컴퓨터학', '경영학', '농학', '교육학', '영어영문학'], ['프로그래밍', '독서토론', '로봇공학', '봉사활동', '음악감상']]]
[[list(['김철수', '이영희', '박민수', '최지훈', '정소희']) list([1, 2, 3, 4, 2])
  list([4.2, 3.8, 4.5, 3.9, 3.5])
  list(['컴퓨터학', '경영학', '농학', '교육학', '영어영문학'])
  list(['프로그래밍', '독서토론', '로봇공학', '봉사활동', '음악감상'])]]

## 5-4 DataFrame 생성 방법

In [13]:
import pandas as pd
import json

data = {
    "이름": ["김철수", "이영희", "박민수", "최지훈", "정소희"],
    "학년": [1, 2, 3, 4, 2],
    "학점": [4.2, 3.8, 4.5, 3.9, 3.5],
    "학과": ["컴퓨터공학", "경영학", "전자공학", "의학", "심리학"],
    "동아리": ["프로그래밍", "독서토론", "로봇공학", "봉사활동", "음악감상"]
}

## 딕셔너리, csv, json으로 부터 DataFrame 생성
df1 = pd.DataFrame.from_dict(data)
df2 = pd.read_csv('students.csv', encoding='utf-8')
df3 = pd.read_json('students.json')

## 세가지 방법 결과 비교
print(df1)
print(df2)
print(df3)

    이름  학년   학점     학과    동아리
0  김철수   1  4.2  컴퓨터공학  프로그래밍
1  이영희   2  3.8    경영학   독서토론
2  박민수   3  4.5   전자공학   로봇공학
3  최지훈   4  3.9     의학   봉사활동
4  정소희   2  3.5    심리학   음악감상
    학번   이름  데이터베이스  파이썬  클라우드
0  101  김철수      85   78    92
1  102  이영희      76   82    78
2  103  박지민      92   95    85
3  104  최준서      63   70    75
4  105  정미나      88   84    91
    id name  database  python  cloud
0  101  김철수        85      78     92
1  102  이영희        76      82     78
2  103  박지민        92      95     85
3  104  최준서        63      70     75
4  105  정미나        88      84     91

## 5-5 DataFrame 저장 방법

In [18]:
import pandas as pd

data = {
    "이름": ["김철수", "이영희", "박민수", "최지훈", "정소희"],
    "학년": [1, 2, 3, 4, 2],
    "학점": [4.2, 3.8, 4.5, 3.9, 3.5],
    "학과": ["컴퓨터공학", "경영학", "전자공학", "의학", "심리학"],
    "동아리": ["프로그래밍", "독서토론", "로봇공학", "봉사활동", "음악감상"]
}

## Dataframe 생성
df1 = pd.DataFrame.from_dict(data, orient = "index")
print(df1)

## CSV, JSON 형식으로 저장
df.to_csv('students_scores.csv', encoding='utf-8', index=False)
df.to_json('students_scores.json', orient = 'records', indent = 4, force_ascii=False)

## HTML 형식으로 저장
html_table = df.to_html()

## HTML 형식으로 저장
with open('students_scores.html', 'w', encoding = 'utf-8') as f :
  f.write(html_table)

         0     1     2     3     4
이름     김철수   이영희   박민수   최지훈   정소희
학년       1     2     3     4     2
학점     4.2   3.8   4.5   3.9   3.5
학과   컴퓨터공학   경영학  전자공학    의학   심리학
동아리  프로그래밍  독서토론  로봇공학  봉사활동  음악감상

## 5-6 실습 시나리오

## 데이터 수집

In [19]:
import requests

url = "http://apis.data.go.kr/B552584/ArpltnInforInqireSvc/getMinuDustFrcstDspth"
api_key = 'E4NOOERXTcGtLZjt3lHVRGGy+hOi1Uyo265PlfuN5JaQiLOqzYWyRriUdYY8ECvRNA1sHe00P7uZI8O18cLUFA=='

params = {
    'serviceKey': api_key,
    'returnType': 'json',
    'numOfRows': '100',
    'pageNo': '1',
    'sidoName': '서울',
    'ver': '1.0'
}

## 데이터 수집
response = requests.get(url, params=params)

## 호출 성공/실패 출력
if response.status_code == 200:
    print('데이터 수집 성공')
    print(response.json())
else:
    print(f'데이터 수집 실패 : {response.status_Code}')

데이터 수집 성공
{'response': {'body': {'totalCount': 846, 'items': [{'informCode': 'O3', 'dataTime': '2025-09-09'}, {'informCode': 'O3', 'dataTime': '2025-09-09'}, {'informCode': 'PM25', 'dataTime': '2025-09-09'}, {'informCode': 'PM10', 'dataTime': '2025-09-09'}, {'informCode': 'PM25', 'dataTime': '2025-09-09'}, {'informCode': 'PM10', 'dataTime': '2025-09-09'}, {'informCode': 'O3', 'dataTime': '2025-09-08'}, {'informCode': 'PM25', 'dataTime': '2025-09-08'}, {'informCode': 'PM10', 'dataTime': '2025-09-08'}, {'informCode': 'PM10', 'dataTime': '2025-09-08'}, {'informCode': 'PM25', 'dataTime': '2025-09-08'}, {'informCode': 'PM25', 'dataTime': '2025-09-08'}, {'informCode': 'O3', 'dataTime': '2025-09-08'}, {'informCode': 'O3', 'dataTime': '2025-09-08'}, {'informCode': 'PM10', 'dataTime': '2025-09-08'}, {'informCode': 'PM10', 'dataTime': '2025-09-08'}, {'informCode': 'PM25', 'dataTime': '2025-09-08'}, {'informCode': 'PM25', 'dataTime': '2025-09-08'}, {'informCode': 'O3', 'dataTime': '2025-09-08'}, {'informCode': 'O3', 'dataTime': '2025-09-08'}, {'informCode': 'PM10', 'dataTime': '2025-09-08'}, {'informCode': 'PM10', 'dataTime': '2025-09-08'}, {'informCode': 'PM10', 'dataTime': '2025-09-08'}, {'informCode': 'PM25', 'dataTime': '2025-09-08'}, {'informCode': 'PM25', 'dataTime': '2025-09-08'}, {'informCode': 'PM25', 'dataTime': '2025-09-08'}, {'informCode': 'O3', 'dataTime': '2025-09-08'}, {'informCode': 'O3', 'dataTime': '2025-09-08'}, {'informCode': 'PM10', 'dataTime': '2025-09-08'}, {'informCode': 'PM10', 'dataTime': '2025-09-08'}, {'informCode': 'PM10', 'dataTime': '2025-09-08'}, {'informCode': 'PM25', 'dataTime': '2025-09-08'}, {'informCode': 'PM25', 'dataTime': '2025-09-08'}, {'informCode': 'O3', 'dataTime': '2025-09-08'}, {'informCode': 'PM10', 'dataTime': '2025-09-07'}, {'informCode': 'PM10', 'dataTime': '2025-09-07'}, {'informCode': 'PM25', 'dataTime': '2025-09-07'}, {'informCode': 'PM25', 'dataTime': '2025-09-07'}, {'informCode': 'O3', 'dataTime': '2025-09-07'}, {'informCode': 'O3', 'dataTime': '2025-09-07'}, {'informCode': 'PM10', 'dataTime': '2025-09-07'}, {'informCode': 'PM10', 'dataTime': '2025-09-07'}, {'informCode': 'PM25', 'dataTime': '2025-09-07'}, {'informCode': 'PM25', 'dataTime': '2025-09-07'}, {'informCode': 'O3', 'dataTime': '2025-09-07'}, {'informCode': 'O3', 'dataTime': '2025-09-07'}, {'informCode': 'PM10', 'dataTime': '2025-09-07'}, {'informCode': 'PM10', 'dataTime': '2025-09-07'}, {'informCode': 'PM25', 'dataTime': '2025-09-07'}, {'informCode': 'PM25', 'dataTime': '2025-09-07'}, {'informCode': 'O3', 'dataTime': '2025-09-07'}, {'informCode': 'O3', 'dataTime': '2025-09-07'}, {'informCode': 'PM10', 'dataTime': '2025-09-07'}, {'informCode': 'PM10', 'dataTime': '2025-09-07'}, {'informCode': 'PM10', 'dataTime': '2025-09-07'}, {'informCode': 'PM25', 'dataTime': '2025-09-07'}, {'informCode': 'PM25', 'dataTime': '2025-09-07'}, {'informCode': 'PM25', 'dataTime': '2025-09-07'}, {'informCode': 'O3', 'dataTime': '2025-09-07'}, {'informCode': 'O3', 'dataTime': '2025-09-07'}, {'informCode': 'PM10', 'dataTime': '2025-09-07'}, {'informCode': 'PM25', 'dataTime': '2025-09-07'}, {'informCode': 'O3', 'dataTime': '2025-09-06'}, {'informCode': 'PM25', 'dataTime': '2025-09-06'}, {'informCode': 'PM10', 'dataTime': '2025-09-06'}, {'informCode': 'PM10', 'dataTime': '2025-09-06'}, {'informCode': 'PM25', 'dataTime': '2025-09-06'}, {'informCode': 'PM25', 'dataTime': '2025-09-06'}, {'informCode': 'O3', 'dataTime': '2025-09-06'}, {'informCode': 'O3', 'dataTime': '2025-09-06'}, {'informCode': 'PM10', 'dataTime': '2025-09-06'}, {'informCode': 'PM10', 'dataTime': '2025-09-06'}, {'informCode': 'PM25', 'dataTime': '2025-09-06'}, {'informCode': 'PM25', 'dataTime': '2025-09-06'}, {'informCode': 'O3', 'dataTime': '2025-09-06'}, {'informCode': 'O3', 'dataTime': '2025-09-06'}, {'informCode': 'PM10', 'dataTime': '2025-09-06'}, {'informCode': 'PM10', 'dataTime': '2025-09-06'}, {'informCode': 'PM10', 'dataTime': '2025-09-06'}, {'informCode': 'PM25', 'dataTime': '2025-09-06'}, {'informCode': 'PM25', 'dataTime': '2025-09-06'}, {'informCode': 'PM25', 'dataTime': '2025-09-06'}, {'informCode': 'O3', 'dataTime': '2025-09-06'}, {'informCode': 'O3', 'dataTime': '2025-09-06'}, {'informCode': 'PM10', 'dataTime': '2025-09-06'}, {'informCode': 'PM10', 'dataTime': '2025-09-06'}, {'informCode': 'PM10', 'dataTime': '2025-09-06'}, {'informCode': 'PM25', 'dataTime': '2025-09-06'}, {'informCode': 'PM25', 'dataTime': '2025-09-06'}, {'informCode': 'O3', 'dataTime': '2025-09-06'}, {'informCode': 'PM10', 'dataTime': '2025-09-05'}, {'informCode': 'PM10', 'dataTime': '2025-09-05'}, {'informCode': 'PM25', 'dataTime': '2025-09-05'}, {'informCode': 'PM25', 'dataTime': '2025-09-05'}, {'informCode': 'O3', 'dataTime': '2025-09-05'}, {'informCode': 'O3', 'dataTime': '2025-09-05'}, {'informCode': 'PM10', 'dataTime': '2025-09-05'}, {'informCode': 'PM10', 'dataTime': '2025-09-05'}, {'informCode': 'PM10', 'dataTime': '2025-09-05'}, {'informCode': 'PM25', 'dataTime': '2025-09-05'}], 'pageNo': 1, 'numOfRows': 100}, 'header': {'resultMsg': 'NORMAL_CODE', 'resultCode': '00'}}}

## 데이터 프레임 생성

In [20]:
import pandas as pd

## requests로부터 response, body, item 항목 읽기
data = response.json()['response']['body']['items']
df = pd.DataFrame(data)
print(df.head())

  informCode    dataTime
0         O3  2025-09-09
1         O3  2025-09-09
2       PM25  2025-09-09
3       PM10  2025-09-09
4       PM25  2025-09-09

## 다양항 형식으로 데이터 저장

In [ ]:
df.to_csv('air_pollution.csv', index=False, encoding='utf-8')

## JSON 형식 데이터 저장

## EXCEL 형식 데이터 저장

## HTML 형식 데이터 저장